// Modal when click on connect wallet button
.wallet-modal {
    position: fixed;
    z-index: 1300;
    inset: 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;

    .wallet-modal-active+.modal-group & {
        opacity: 1;
        visibility: visible;

        .wallet-modal-overlay {
            z-index: 1;
        }
    }
}

.wallet-overlay,
.stake-overlay {
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    z-index: -1;
}

.wallet-wrapper,
.stake-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    >div {
        display: table;
        flex-direction: row;
        margin: 0 auto;
        max-height: 100%;
        max-width: 420px;
        pointer-events: auto;
        position: relative;
        width: calc(100% - 20px);
        z-index: 1000;
        background-color: $sidebar-bg;
    }
}

.wallet-modal-header {
    align-items: center;
    display: flex;
    font-size: var(--font-size-md);
    font-weight: 600;
    justify-content: space-between;
    padding: 14px 20px;
}

.wallet-modal-body {
    background-color: rgba(22, 22, 24, .44);
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px;
    padding: 0 18px;
    position: relative;

    >div {
        align-items: center;
        display: flex;
        padding: 15px 0;

        &:not(:last-child) {
            border-bottom: 1px dashed #363636;
        }

        button {
            cursor: pointer;
            align-items: center;
            color: #fff;
            display: flex;
            flex: 1 1;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            padding: 0;

            img {
                margin-right: 12px;
                width: 40px;
            }
        }
    }
}

/* Stake Modal */
.stake-modal {
    position: fixed;
    z-index: 1300;
    inset: 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    width: 420px;
    max-width: calc(100vw - 32px);
    border-radius: 1rem;
    margin: auto;

    .stake-modal-active+.modal-group & {
        opacity: 1;
        visibility: visible;

        .stake-modal-overlay {
            z-index: 1;
        }
    }

    .stake-modal-close {
        position: absolute;
        right: 0;
        top: 0;
        margin: 16px 16px 0 0;
        transition: unset;
        z-index: 1;
    }

    .stake-modal-title {
        font-size: 1rem;
        color: $title-color;
    }

    .stake-modal-content {
        margin-top: 1rem;
    }

    .input-container {
        margin-top: 24px;
        padding: 15px;
        border-radius: 12px;
        background-color: var(--bg-darkest);
        border: 1px solid transparent !important;

        &:hover {
            border-color: #283148;
        }

        .label-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 20px;
            font-size: 14px;
            color: var(--text-color);
        }

        .input-box {
            margin-top: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 28px;

            .left {
                height: 28px;

                input {}

                .number-input {
                    border: unset;
                    height: 28px;
                }
            }

            .right {
                display: inline-flex;
                align-items: center;
                font-size: 18px;
                font-weight: 500;
                color: var(--white-color);
                width: 35%;
                justify-content: right;

                .stake-image-viewer {
                    display: flex;
                    align-items: center;
                    margin-right: 4px;
                    line-height: 18px;
                }

                i {
                    margin-right: 4px;
                }
            }
        }

        .radio-box {
            margin-top: 8px;

            .radio-group {
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            .radio-item {
                margin-right: 8px;
                cursor: pointer;
                color: var(--text-color);
                height: 32px;
                line-height: 32px;
                text-align: center;
                font-size: 14px;
                transition: all .12s;
                background: rgba(35, 43, 72, .4);
                border-radius: 8px;
                font-weight: 500;
            }
        }
    }

    .info-container {
        margin-top: 16px;

        .info-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 20px;
            font-size: 14px;
        }

        .label {
            color: var(--text-color);
        }

        .value {
            display: inline-flex;
            align-items: center;
            color: var(--white-color);
        }
    }

    .button-container {
        margin-top: 24px;
    }
}

.radio-button-group {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: var(--bg-darkest);
    border-radius: 12px;
    height: 44px;

    .radio-item {
        height: 44px;
        line-height: 44px;
        font-size: 16px;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        color: $title-color;
        border-radius: 12px;
        text-align: center;

        &.blue.selected {
            color: var(--primary-blue);
            background-color: rgba(0, 216, 226, .1);
            border: 1px solid rgba(0, 216, 226, .2);
        }
    }
}